<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>HRD ARTICLE</title>
    <th:block th:replace="~{fragments/style}"/>

</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <th:block th:replace="~{fragments/navbar}"></th:block>
    <th:block th:replace="~{fragments/slidebar}"></th:block>
    <div class="content-wrapper" layout:fragment="mainContent">
        <!-- Content Header (Page header) -->


    </div>

    <th:block th:replace="~{fragments/footer}"></th:block>
</div>
    <th:block th:replace="~{fragments/script}"/>
</body>
</html>
