<div class="wrapper">
  <div class="main-header">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="white">
      <a routerLink="/dashboard" class="logo">
        <img
          src="./../../../assets/img/logo.png"
          alt="navbar brand"
          class="navbar-brand"
          width="150px"
          height="40px"
        />
      </a>
      <button
        class="navbar-toggler sidenav-toggler ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="collapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon">
          <i class="icon-menu"></i>
        </span>
      </button>
      <!--      <h5 class="job-room-logo"><img src="./../../assets/img/logoJobRoom.jpg" height="40px" width="35px"></h5>-->
    </div>
    <!-- End Logo Header -->

    <!-- Navbar Header -->
    <nav
      class="navbar navbar-header navbar-expand-lg job-room-navbar"
      data-background-color="#fff"
    >

      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="icon-menu"></i>
        </button>
      </div>

      <div class="container m-l">
        <mat-form-field class="no-line m-r" style="width: 100px; height: 0; margin-top: -55px;">
          <mat-select [value]="language.value" (valueChange)="changeLocale($event)">
            <mat-select-trigger>
              <div fxLayout="row" fxLayoutAlign="start center" class="m-l-10" fxLayoutGap="10px">
                <img [src]="language.img" class="flag"/>
                <span class="f-m">{{ language.label }}</span>
              </div>
            </mat-select-trigger>
            <mat-option *ngFor="let opt of languages" [value]="opt.value">
              <div fxLayout="row" fxLayoutAlign="start center" class="m-l-10" fxLayoutGap="10px">
                <img [src]="opt.img" class="flag" />
                <span class="f-m">{{opt.label}}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="container-fluid" style="padding: 0px;">
        <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
          <li class="nav-item dropdown hidden-caret" >
            <a
              class="dropdown-toggle profile-pic"
              data-toggle="dropdown"
              href="#"
              aria-expanded="false"
            >
              <div (click)="toggleMenu()">
                <img [src]="hrLogo" height="50px" style="object-fit: cover; width: auto;" alt="..." />
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="nav" *ngIf="isHide" class="hr-dropdown">
      <ul>
        <li routerLink="setting">
          <a class="f-m"
            ><i class="fas fa-cog"></i> {{ "profile" | translate }}</a
          >
        </li>
        <li>
          <a class="f-m" href="https://account.kshrd-ite.com/" (click)="logout()">
            <span class="material-icons"> power_settings_new </span
            >{{ "log_out" | translate }}</a
          >
        </li>
      </ul>
    </div>

    <!-- End Navbar -->
  </div>

  <!-- Sidebar -->
  <div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
      <div class="sidebar-content">
        <ul class="nav nav-primary">
          <li class="nav-item">
            <a
              data-toggle="collapse"
              routerLink="dashboard"
              class="collapsed"
              aria-expanded="false"
            >
              <i class="fas fa-home"></i>
              <p class="f-m">{{ 'dashboard' | translate }}</p>
            </a>
          </li>
          <li class="nav-item">
            <a data-toggle="collapse" href="#base">
              <i class="fas fa-bullhorn"></i>
              <p class="f-m">{{ 'job_announcement' | translate }}</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="base">
              <ul class="nav nav-collapse">
                <li>
                  <a routerLink="/hr/active-announcement">
                    <span class="sub-item f-m">{{ 'active_announcement' | translate }}</span>
                  </a>
                </li>
                <li>
                  <a routerLink="/hr/close-announcement">
                    <span class="sub-item f-m">{{ 'close_announcement' | translate }}</span>
                  </a>
                </li>
                <li>
                  <a routerLink="/hr/save-draft">
                    <span class="sub-item f-m">{{ 'save_draft' | translate }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-toggle="collapse" routerLink="candidate">
              <i class="fas fa-users"></i>
              <p class="f-m">{{ 'candidate' | translate }}</p>
            </a>
          </li>
          <li class="nav-item">
            <a data-toggle="collapse" routerLink="schedule">
              <i class="far fa-calendar"></i>
              <p class="f-m">{{ 'schedule' | translate }}</p>
            </a>
          </li>
          <li class="nav-item">
            <a data-toggle="collapse" routerLink="/hr/setting">
              <i class="fas fa-cog"></i>
              <p class="f-m">{{ 'setting' | translate }}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Sidebar -->
  <div class="main-panel">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <div class="m-auto">
          <p class="f-m">
            {{ 'copyright' | translate }}
          </p>
        </div>
      </div>
    </footer>
  </div>
  >
</div>
