.btn-toggle {
  color: black !important;
}

.logo-header {
  background-color: #fff !important;
}

.sidebar.sidebar-style-2 .nav.nav-primary > .nav-item.active > a {
  background: none !important;
  box-shadow: none !important;
}

.logo-header[data-background-color] .navbar-toggler .navbar-toggler-icon {
  color: black !important;
}

.hr_menu_item {
  margin-right: 15px;
  fill: #8d9498;
}
.main-panel>.content{
  padding: 15px!important;
}
.main-header .navbar-header .btn-toggle{
  margin-left: 0 !important;
}
.sidebar .nav-collapse li a .sub-item:before, .sidebar[data-background-color=white] .nav-collapse li a .sub-item:before{
  content: none;
}
.job-room-logo{
  display: none;
}
.sidebar .nav-collapse, .sidebar[data-background-color=white] .nav-collapse{
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.flag {
  width: 20px;
  height:auto;
}


.m-l-10 span{
  margin-left: 10px;
}

mat-form-field{
  border:unset;
  display: block;
  margin-left: 75%;
  margin-top: 5px;
}

.hr-dropdown{
  top: 85%;
  width: 160px;
  right: 1.5%;
  position: absolute;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 3px;

}

.f-m{
  font-family: 'Roboto','Siemreap', sans-serif;
}

.hr-dropdown ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hr-dropdown ul li{
  float: left;
  width: 100%;
  padding: 10px;
  border: 1px solid #F2F2F2;
  cursor: pointer;
}

.hr-dropdown ul li:hover{
  background-color: #eee;
}

.hr-dropdown ul li:hover a{
  text-decoration: none;
}

.hr-dropdown ul li a{
  color: #757575;
}

.hr-dropdown ul li a span{
  margin-right:10px ;
  float: left;
}

.hr-dropdown ul li a i{
  margin-right:10px ;
  font-size: 18px;
  float: left;
}

::ng-deep .no-line .mat-form-field-underline {
  display: none;
}

.m-l{
  margin-left: 120vh;
}


@media screen and (min-width: 991px){
  .sidebar_minimize .logo-header .job-room-logo {
    display: block;
    margin-left: 30%;
  }
}
@media screen and (min-width: 991px){
  .sidebar_minimize .sidebar_minimize_hover .logo-header .logo img {
    display: none!important;
    
  }
}
