.custom-control-label::before {
    background-color: #5C5A5A;
    border: none;
}
.custom-switch .custom-control-label::after{
    background-color: white;
}
.fa-eye{
    color: #5C5A5A;
}
.delete-buttons-wrapper{
    text-align: right;
    padding: 15px;
}
.ban{
    background-color: #FFDDE3;
}
.modal-lg {
    max-width: 50%;
}
.cp-logo{
    width: 105px;
    height: 70px;
    object-fit: cover;
}